{% extends 'EgzaktSystemBundle:Backend/Application:layout.html.twig' %}
{% form_theme form 'EgzaktSystemBundle:Backend/Core:edit_fields.html.twig' %}

{% block content_header %}
    <h1>{% include 'EgzaktSystemBundle:Backend/Core:entity_title.html.twig' with { 'entity': entity } %}</h1>
{% endblock %}

{% block content_main %}

    {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}

        {% block edit_actions %}
            {% include 'EgzaktSystemBundle:Backend/Core:edit_actions.html.twig' with {
                'delete_route': path(entity.route('delete'), entity.routeParams),
                'cancel_route': path('egzakt_system_backend_application')
            } %}
        {% endblock %}

        <div id="fields_box">
            <table class="fields" cellspacing="0">

                {{ form_errors(form) }}

                {{ form_row(form.name) }}
                {{ form_row(form.prefix) }}

                {{ form_rest(form) }}
            </table>
        </div>

        <script>
            $(function(){

                var handleNameChange = function(){
                    var slug = $(this).val().toLowerCase().replace(/[^\w ]+/g, '').replace(/ +/g, '-');
                    $('#app_prefix').val(slug);
                };

                $('#app_name').on('keyup, change', handleNameChange);
            });
        </script>

        {{ block('edit_actions') }}

    {{ form_end(form) }}

{% endblock content_main %}
