{{ "{% extends '" ~ bundle_name ~ ":" ~ application ~ "/" ~ entity ~ ":layout.html.twig' %}" }}
{{ "{% form_theme form 'FlexySystemBundle:" ~ application ~ "/Core:edit_fields.html.twig' %}" }}

{{ '{% block content_header %}' }}
    <h1>{{ '{{ entity|trans }}' }}</h1>
{{ '{% endblock %}' }}

{{ '{% block content_main %}' }}

    {{ "{{ form_start(form) }}" }}

        {{ "{% block edit_actions %}" }}
            {{ "{% include 'FlexySystemBundle:" ~ application ~ "/Core:edit_actions.html.twig' with {
                'entity': entity,
                'delete_route': path('" ~ route_prefix ~ "_delete', { id: entity.id ?: 0 }),
                'cancel_route': path('" ~ route_prefix ~ "')
            } %}" }}
        {{ "{% endblock %}" }}

        <div id="fields_box">

            {{ "{{ form_errors(form) }}" }}

            <table class="fields" cellspacing="0">
            {% if 'active' in fields|keys %}

                {{ '{{ form_row(form.active) }}' }}
            {% elseif 'active' in translation_fields|keys %}

                {{ '{{ form_row(form.translation.active) }}' }}
            {%- endif -%}

            {%- if 'name' in fields|keys %}

                {{ '{{ form_row(form.name) }}' }}
            {% elseif 'name' in translation_fields|keys %}

                {{ '{{ form_row(form.translation.name) }}' }}
            {% endif %}

            {%- if 'slug' in fields|keys -%}
            {{ "{% include 'FlexySystemBundle:" ~ application ~ "/Core:collapsable_fields.html.twig' with {
            'link_name': 'SEO Informations',
            'fields': [form_row(form.slug)]
            } %}" }}
            {%- endif -%}

            {%- for field in fields -%}
                {%- if field.fieldName not in ['id', 'active', 'updatedAt', 'createdAt', 'ordering', 'locale'] %}

                {{ '{{ form_row(form.' ~ field.fieldName ~ ') }}' }}
                {%- endif -%}
            {%- endfor -%}
            {%- for field in translation_fields -%}
                {%- if field.fieldName not in ['id', 'active', 'updatedAt', 'createdAt', 'ordering', 'locale'] %}

                {{ '{{ form_row(form.translation.' ~ field.fieldName ~ ') }}' }}
                {%- endif -%}
            {%- endfor %}

                {{ "{{ form_rest(form) }}" }}
                {% if 'updatedAt' in fields|keys -%}
                {{ "{% if entity.id %}" }}
                    <tr>
                        <th>
                            {{ '{% trans %}Last update {% endtrans %}' }} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ "{{ entity.updatedAt|date }}" }}
                        </td>
                    </tr>
                {{ "{% endif %}" }}
                {%- endif %}

            </table>
        </div>

        {{ "{{  block('edit_actions') }}" }}

    {{ "{{ form_end(form) }}" }}

{{ '{% endblock content_main %}' }}
