{{ "{% extends 'EgzaktSystemBundle:" ~ application ~ ":layout.html.twig' %}" }}

{{ '{% block content %}' }}

    {{ '{% block content_header %}' }}
        <h1>{{ '{{ section }}' }}</h1>
    {{ '{% endblock %}' }}

    {{ '{% block flash_message %}' }}
        {{ "{% include 'EgzaktSystemBundle:" ~ application ~ "/Core:flash_message.html.twig' %}" }}
    {{ '{% endblock %}' }}

    {{ '{% block content_main %}' }}
    {{ '{% endblock %}' }}

    {{ '{% block content_footer %}' }}
    {{ '{% endblock %}' }}

{{ '{% endblock %}' }}