<link rel="stylesheet" type="text/css" media="all" href="{{ asset('bundles/flexysystem/backend/css/help.css') }}" />

<div id="popup">
<div id="wrapper">
{% if itemId is not defined %}
    <h1>{% trans %}Barre d'outils{% endtrans %}</h1>

    <table id="navig_aide" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td style="width:250px;">
                <ul>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 1 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/cut.gif') }});">{% trans %}Couper{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 2 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/copy.gif') }});">{% trans %}Copier{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 3 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/paste.gif') }});">{% trans %}Coller{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 4 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/bold.gif') }});">{% trans %}Gras{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 5 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/italic.gif') }});">{% trans %}Italique{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 7 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/indice.gif') }});">{% trans %}Indice{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 8 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/exposant.gif') }});">{% trans %}Exposant{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 9 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/caracter.gif') }});">{% trans %}Caract&egrave;re spécial{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 10 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/ol.gif') }});">{% trans %}Liste numérotée{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 11 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/ul.gif') }});">{% trans %}Liste à puces{% endtrans %}</a></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 12 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/link.gif') }});">{% trans %}Hyperlien{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 18 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/anchor.gif') }});">{% trans %}Ancre{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 13 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/link.gif') }});">{% trans %}Document{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 14 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/image.gif') }});">{% trans %}Image{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 15 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/table.gif') }});">{% trans %}Tableau{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 19 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/template.gif') }});">{% trans %}Mod&egrave;le de contenu{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 20 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/format.gif') }}); padding-left:92px;">{% trans %}Titre{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 6 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/styles.gif') }}); padding-left:92px;">{% trans %}Style{% endtrans %}</a></li>
                    <li><a href="{{ path('flexy_system_backend_help_detail', { 'itemId': 16 }) }}" style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/source.gif') }}); padding-left:72px;">{% trans %}Code HTML{% endtrans %}</a></li>
                </ul>
            </td>
        </tr>
    </table>

    <h1 style="margin-bottom:8px;">{% trans %}Compatibilité{% endtrans%}</h1>
    {% trans %}L'éditeur de texte est compatible avec les navigateurs suivants :{% endtrans %}
    <ul id="compatibilite">
        <li>{% trans %}Internet Explorer 7 +{% endtrans %}</li>
        <li>{% trans %}Firefox 2 +{% endtrans %}</li>
        <li>{% trans %}Safari 3 +{% endtrans %}</li>
        <li>{% trans %}Google Chrome{% endtrans %}</li>
        <li>{% trans %}Opera 9.5 +{% endtrans %}</li>
    </ul>

{% else %}

    <a href="{{ path('FlexyBackendCoreBundle_help') }}" id="retour">{% trans %}&laquo; Retour à la liste{% endtrans %}</a>
    <h1>{% trans %}Barre d'outils{% endtrans %}</h1>

    {% if itemId == 1 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/cut.gif') }});">{% trans %}Couper{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte que vous désirez couper et utilisez le raccourci clavier &laquo; CTRL+X &raquo;, si vous êtes sur un PC ou &laquo; Commande+X &raquo; si vous êtes sur un Mac.<br /><br />
            Vous pouvez également faire un clic droit dans l'éditeur et choisir l'option &laquo; couper &raquo; dans le menu contextuel apparaissant.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/couper.gif') }}" width="550" height="204" alt="" />
        </div>
    {% endif %}

    {% if itemId == 2 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/copy.gif') }});">{% trans %}Copier{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte que vous désirez copier et utilisez le raccourci clavier &laquo; CTRL+C &raquo;, si vous êtes sur un PC ou &laquo; Commande+C &raquo; si vous êtes sur un Mac.<br /><br />
            Vous pouvez également faire un clic droit dans l'éditeur et choisir l'option &laquo; copier &raquo; dans le menu contextuel apparaissant.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/couper.gif') }}" width="550" height="204" alt="" />
        </div>
    {% endif %}

    {% if itemId == 3 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/paste.gif') }});">{% trans %}Coller{% endtrans %}</h2>

        <div id="texte_outil">
            Apr&egrave;s avoir copié ou coupé du texte, placez votre curseur à l'endroit désiré et utilisez le raccourci clavier &laquo; CTRL+V &raquo;, si vous êtes sur un PC ou
            &laquo; Commande+V &raquo; si vous êtes sur un Mac.<br /><br />
            Vous pouvez également faire un clic droit dans l'éditeur et choisir l'option &laquo; collez &raquo; dans le menu contextuel apparaissant.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/couper.gif') }}" width="550" height="204" alt="" />
        </div>
    {% endif %}

    {% if itemId == 4 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/bold.gif') }});">{% trans %}Gras{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte que vous désirez mettre en gras et cliquez sur l'icône &laquo; gras &raquo;.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/gras.gif') }}" width="550" height="172" alt="" />
        </div>
    {% endif %}

    {% if itemId == 5 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/italic.gif') }});">{% trans %}Italique{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte que vous désirez mettre en italique et cliquez sur l'icône &laquo; italique &raquo;.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/italique.gif') }}" width="550" height="179" alt="" />
        </div>
    {% endif %}

    {% if itemId == 6 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/styles.gif') }}); padding-left: 97px">{% trans %}Style{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte que vous désirez changer et choisissez un style dans la liste déroulante &laquo;&nbsp;styles&nbsp;&raquo;. (Ceux-ci diffèrent selon chaque site web.)<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/styles1.png') }}" width="550" height="278" alt="" /><br /><br />

            <h3>Supprimer un style</h3>
            Placez votre curseur à l'intérieur du texte qui est stylé et cliquez sur le style correspondant dans la liste déroulante &laquo;&nbsp;styles&nbsp;&raquo;. Cela annulera la mise en forme.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/styles2.png') }}" width="550" height="228" alt="" />
        </div>
    {% endif %}

    {% if itemId == 7 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/indice.gif') }});">{% trans %}Indice{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte que vous désirez mettre en indice et cliquez sur l'icône &laquo;&nbsp;indice&nbsp;&raquo;.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/indice.gif') }}" width="550" height="180" alt="" />
        </div>
    {% endif %}

    {% if itemId == 8 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/exposant.gif') }});">{% trans %}Exposant{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte que vous désirez mettre en exposant et cliquez sur l'icône &laquo;&nbsp;exposant&nbsp;&raquo;.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/exposant.gif') }}" width="550" height="179" alt="" />
        </div>
    {% endif %}

    {% if itemId == 9 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/caracter.gif') }});">{% trans %}Caract&egrave;re spécial{% endtrans %}</h2>

        <div id="texte_outil">
            Il est possible d'ajouter un caract&egrave;re spécial ne se trouvant pas sur votre clavier (ex. : &pound; &copy;) en cliquant sur l'icône &laquo; caract&egrave;re spécial &raquo;.
            Une petite fenêtre flottante (popup) apparaîtra.
            Sélectionnez le caract&egrave;re désiré. Celui-ci s'insérera automatiquement à l'endroit où votre curseur se trouve dans le texte.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/caractere.gif') }}" width="550" height="400" alt="" />
        </div>
    {% endif %}

    {% if itemId == 10 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/ol.gif') }});">{% trans %}Liste numérotée{% endtrans %}</h2>

        <div id="texte_outil">
            Placez votre curseur à l'endroit où vous désirez créer la liste et cliquez sur l'icône &laquo; liste numérotée &raquo;. Pour changer de numéro, appuyez sur la touche &laquo; entrer &raquo;. Pour terminer la liste, appuyez deux fois sur la touche &laquo; entrer &raquo;.<br /><br />
            Pour faire un saut de ligne sans changer de numéro, maintenez la touche SHIFT enfoncée et appuyez sur &laquo; entrer &raquo;.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/liste_numerotee.gif') }}" width="550" height="237" alt="" />
        </div>
    {% endif %}

    {% if itemId == 11 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/ul.gif') }});">{% trans %}Liste à puces{% endtrans %}</h2>

        <div id="texte_outil">
            Placez votre curseur à l'endroit où vous désirez créer la liste et cliquez sur l'icône &laquo; liste à puces &raquo;. Pour changer de puce, appuyez sur la touche &laquo; entrer &raquo;. Pour terminer la liste, appuyez deux fois sur la touche &laquo; entrer &raquo;.<br /><br />
            Pour faire un saut de ligne sans changer de puce, maintenez la touche SHIFT enfoncée et appuyez sur &laquo; entrer &raquo;.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/liste_puces.gif') }}" width="550" height="247" alt="" />
        </div>
    {% endif %}

    {% if itemId == 12 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/link.gif') }});">{% trans %}Hyperlien{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte que vous désirez rendre cliquable et cliquez sur l'icône &laquo; lien &raquo;. Une petite fenêtre flottante (popup) apparaîtra.
            Sélectionnez le type de lien : Url ou E-mail.<br /><br />

            <h3>Url</h3>
            Spécifiez le protocole et inscrivez l'url dans le champ prévu à cet effet.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/hyperlien1.gif') }}" width="550" height="373" alt="" /><br /><br />

            <strong>Ouvrir dans une nouvelle fenêtre</strong><br />
            Si vous voulez que le lien s'ouvre dans une nouvelle fenêtre, allez dans l'onglet<br /> &laquo; Cible &raquo; et sélectionnez l'option &laquo; New window (_blank) &raquo;. Cliquez sur &laquo; ok &raquo; pour confirmer l'ajout du lien.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/hyperlien2.gif') }}" width="550" height="373" alt="" /><br /><br />

            <h3>Courriel</h3>
            Entrez l'adresse courriel du destinataire dans le champ correspondant. Vous pouvez également spécifier un sujet et un message par défaut. Cliquez sur &laquo; ok &raquo; pour confirmer l'ajout du lien.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/hyperlien3.gif') }}" width="550" height="373" alt="" /><br /><br />

            <h3>Modifier un lien</h3>
            Surlignez le lien dans l'éditeur et cliquez sur l'icône &laquo; lien &raquo;.<br /><br />

            <h3>Supprimer un lien</h3>
            Surlignez le lien et cliquez sur l'icône &laquo; supprimer un lien &raquo;.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/icones//hyperlien_supp.gif') }}" width="26" height="26" alt="Supprimer un hyperlien" />
        </div>
    {% endif %}

    {% if itemId == 13 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/link.gif') }});">{% trans %}Document{% endtrans %}</h2>

        <div id="texte_outil">
            Surlignez le texte qui fera le lien vers le document et cliquez sur l'icône &laquo; lien &raquo;. Une petite fenêtre flottante (popup) apparaîtra.<br /><br />

            Cliquez sur le bouton &laquo; Explorer le serveur &raquo;. Une fenêtre contenant les documents présents sur le serveur apparaîtra. <strong>Double-cliquez</strong> sur le fichier désiré pour l'associer à votre lien.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/document1.png') }}" width="550" height="378" alt="" />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/document2.png') }}" width="550" height="261" alt="" /><br /><br />

            <h3>Upload de document</h3>
            Pour envoyer un document sur le serveur, cliquez sur le lien &laquo; Téléverser &raquo; et sélectionnez-le sur votre ordinateur. Pour confirmer le transfert, cliquez sur le bouton &laquo;&nbsp;Téléverser le fichier sélectionné&nbsp;&raquo;.<br /><br />

            <span style="color:red;">ATTENTION : Si le document est lourd, le transfert peut prendre plus de temps.</span><br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/document3.png') }}" width="550" height="158" alt="" /><br /><br />

            Votre document devrait maintenant apparaître dans les liste des documents disponibles sur le serveur. <strong>Double-cliquez</strong> dessus pour l'associer à votre lien.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/document4.png') }}" width="550" height="182" alt="" /><br /><br />

            <h3>Gestion des documents</h3>
            Vous pouvez supprimer et renommer vos documents en faisant un clic droit sur un document en particulier et en sélectionnant l'option désirée dans le menu contextuel aparaissant.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/document5.png') }}" width="550" height="270" alt="" />
        </div>
    {% endif %}

    {% if itemId == 14 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/image.gif') }});">{% trans %}Image{% endtrans %}</h2>

        <div id="texte_outil">
            Placez votre curseur à l'endroit où vous désirez mettre l'image. Cliquez sur l'icône <br />&laquo; image &raquo;. Une petite fenêtre flottante (popup) apparaîtra.<br /><br />

            Cliquez sur le bouton &laquo; Explorer le serveur &raquo;. Une fenêtre contenant les images présentes sur le serveur apparaîtra. <strong>Double-cliquez</strong> sur l'image désirée pour la sélectionner.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/image1.png') }}" width="550" height="458" alt="" />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/image2.png') }}" width="550" height="223" alt="" /><br /><br />


            <h3>Propriétés de l'image</h3>

            Une fois une image sélectionnée, vous serez dirigé dans la fenêtre de propriétés de l'image. Vous pourrez y voir un aperçu de l'image et modifier son alignement par rapport au texte, si nécessaire.<br /><br />
            Il est également possible de modifier la taille de l'image en ajustant les champs &laquo;&nbsp;largeur&nbsp;&raquo; et &laquo;&nbsp;hauteur&nbsp;&raquo;. Le redimensionnement conserve les proportions.<br /><br />

            <span style="color:red;">ATTENTION : pour de meilleurs résultats, il est toujours préférable d'utiliser un logiciel de retouche d'images (ex. : Photoshop) qui réduira également le poids de l'image.</span><br /><br />

            Si tout est à votre go&ucirc;t, cliquez sur &laquo; ok &raquo; pour ajouter l'image dans le texte.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/image3.png') }}" width="550" height="454" alt="" /><br /><br />

            <h3>Upload d'image</h3>
            Pour envoyer une image sur le serveur, cliquez sur le lien &laquo; Téléverser &raquo; et sélectionnez-la sur votre ordinateur. Pour confirmer le transfert, cliquez sur le bouton &laquo;&nbsp;Téléverser le fichier sélectionné&nbsp;&raquo;.<br /><br />

            <strong>Note :</strong> Les images seront automatiquement redimensionnées à une grandeur optimisée pour le web.<br /><br />

            <span style="color:red;">ATTENTION : Si l'image est lourde, le transfert peut prendre plus de temps.</span><br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/image4.png') }}" width="550" height="142" alt="" /><br /><br />

            Votre image devrait maintenant apparaître dans les liste des images disponibles sur le serveur. <strong>Double-cliquez</strong> dessus pour l'ajouter dans votre texte.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/image5.png') }}" width="550" height="165" alt="" /><br /><br />

            <h3>Gestion des images</h3>
            Vous pouvez supprimer et renommer vos images en faisant un clic droit sur une image en particulier et en sélectionnant l'option désirée dans le menu contextuel aparaissant.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/image6.png') }}" width="550" height="306" alt="" />

        </div>
    {% endif %}

    {% if itemId == 15 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/table.gif') }});">{% trans %}Tableau{% endtrans %}</h2>

        <div id="texte_outil">
            Placez votre curseur à l'endroit où vous désirez mettre le tableau. Cliquez sur l'icône<br /> &laquo; tableau &raquo;. Une petite fenêtre flottante (popup) apparaîtra.<br /><br />

            Spécifiez les attributs du tableau et cliquez sur &laquo; ok &raquo; pour confirmer l'ajout.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/tableau1.png') }}" width="550" height="411" alt="" /><br /><br />

            Une fois de retour dans l'éditeur, cliquez dans les cellules pour y ajouter du texte.

            Vous pouvez ajouter, modifier, supprimer, fusionner et changer les attributs des cellules en faisant un clic droit et en choisissant l'action désirée dans le menu contextuel apparaissant.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/tableau2.png') }}" width="550" height="395" alt="" />
        </div>
    {% endif %}

    {% if itemId == 16 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/source.gif') }}); padding-left: 72px">{% trans %}Code HTML{% endtrans %}</h2>

        <div id="texte_outil">
            Il est possible d'éditer le code html généré par l'éditeur en cliquant sur l'icône<br /> &laquo; Source &raquo;. Pour revenir au mode visuel, il suffit de recliquer sur &laquo; Source &raquo;.<br /><br />

            <span style="color:red;">ATTENTION : (Cette fonctionnalité s'adresse surtout à ceux qui sont à l'aise avec le html. À utiliser avec précaution.)</span><br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/source1.png') }}" width="550" height="331" alt="" />
        </div>
    {% endif %}

    {% if itemId == 17 %}
        <h2 style="padding-left:0;">{% trans %}Supprimer une mise en forme{% endtrans %}</h2>

        <div id="texte_outil">
            Cette fonctionnalité s'applique aux attributs suivants :<br />
            &nbsp; - gras<br />
            &nbsp; - italique<br />
            &nbsp; - style<br /><br />

            Placez votre curseur à l'intérieur du texte formaté et cliquez sur l'icône de la mise en forme associée.
        </div>
    {% endif %}

    {% if itemId == 18 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/anchor.gif') }});">{% trans %}Ancre{% endtrans %}</h2>

        <div id="texte_outil">
            Placez votre curseur à l'endroit où vous désirez créer l'ancre. Cliquez sur l'icône &laquo;&nbsp;ancre&nbsp;&raquo;. Une petite fenêtre flottante (popup) apparaîtra. Entrez le nom de votre ancre et cliquez sur &laquo; ok &raquo; pour confirmer l'ajout.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/ancre3.gif') }}" width="550" height="188" alt="" /><br /><br />

            Un petit icône jaune apparaîtra, vous permettant de localiser l'ancre. (L'icône est seulement visible dans l'éditeur, les visiteurs de votre site ne le verront pas.)<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/ancre1.gif') }}" width="550" height="233" alt="" /><br /><br />

            Ensuite, surlignez le texte qui servira de lien vers l'ancre. Cliquez sur l'icône &laquo; ajouter un lien &raquo;. Une petite fenêtre flottante (popup) apparaîtra.<br /><br />

            Dans la liste déroulante des types de lien, choisissez "Transformer le lien en ancre dans le texte". Une seconde liste déroulante apparaîtra, vous permettant de sélectionner l'ancre vers lequel vous désirez que le lien pointe. Cliquez sur le bouton
            &laquo; ok &raquo; pour confirmer l'ajout du lien.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/ancre2.gif') }}" width="550" height="375" alt="" />
        </div>
    {% endif %}

    {% if itemId == 19 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/template.gif') }});">{% trans %}Mod&egrave;le de contenu{% endtrans %}</h2>

        <div id="texte_outil">
            Un mod&egrave;le de contenu est un morceau de design prêt à être employé.<br /><br />

            Pour en utiliser un, placez votre curseur dans le texte à l'endroit désiré et cliquez sur l'icône &laquo;&nbsp;mod&egrave;le de contenu&nbsp;&raquo;. Une petite fenêtre flottante (popup) apparaîtra.<br /><br />

            Cliquez sur le mod&egrave;le voulu dans la liste des mod&egrave;les disponibles. (Les modèles disponibles sont personnalisés pour chaque site web.)<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/template1.png') }}" width="550" height="466" alt="" /><br /><br />

            Le mod&egrave;le est maintenant ajouté dans votre bloc de texte. Vous pouvez y éditer votre contenu.<br />

            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/template2.png') }}" width="550" height="246" alt="" />
        </div>
    {% endif %}

    {% if itemId == 20 %}
        <h2 style="background-image:url({{ asset('bundles/flexysystem/backend/images/icons/template.gif') }}); padding-left: 97px">{% trans %}>Titre{% endtrans %}</h2>

        <div id="texte_outil">
            Placez votre curseur à l'intérieur du texte que vous désirez transformer en titre et choisissez un niveau dans la liste déroulante &laquo;&nbsp;format&nbsp;&raquo;. (L'apparence des titres est personnalisée pour chaque site web.)<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/format1.png') }}" width="550" height="281" alt="" /><br /><br />

            <h3>Supprimer un titre</h3>
            Placez votre curseur à l'intérieur du titre et choisissez &laquo;&nbsp;normal&nbsp;&raquo; dans la liste déroulante &laquo;&nbsp;format&nbsp;&raquo;.<br />
            <img src="{{ asset('bundles/flexysystem/backend/images/screenshots/format2.png') }}" width="550" height="276" alt="" />
        </div>
    {% endif %}

{% endif %}
</div>
</div>