{% extends 'FlexySystemBundle:Backend/Section:layout.html.twig' %}
{% form_theme form 'FlexySystemBundle:Backend/Core:edit_fields.html.twig' %}

{% block content_header %}
    <h1>{% include 'FlexySystemBundle:Backend/Core:entity_title.html.twig' with { 'entity': entity } %}</h1>
{% endblock %}

{% block content_main %}

    <form novalidate="novalidate" method="post" {{ form_enctype(form) }}>

        {% block edit_actions %}
            {% include 'FlexySystemBundle:Backend/Core:edit_actions.html.twig' with {
                'entity': entity,
                'delete_route': path('flexy_system_backend_section_delete', { id: entity.id ?: 0 }),
                'cancel_route': path('flexy_system_backend_section')
            } %}
        {% endblock %}

        <div id="fields_box">
            <table class="fields" cellspacing="0">

                {{ form_errors(form) }}

                {{ form_row(form.translation.active) }}
                {{ form_row(form.translation.name) }}

                {% include 'FlexySystemBundle:Backend/Core:collapsable_fields.html.twig' with {
                    'link_name': 'Informations SEO',
                    'fields': [form_row(form.translation.slug), form_row(form.translation.pageTitle), form_row(form.translation.headCode)]
                } %}

                {% include 'FlexySystemBundle:Backend/Core:collapsable_fields.html.twig' with {
                    'link_name': 'Parameters',
                    'fields': [form_row(form.parent), form_row(form.app), form_row(form.navigations)]
                } %}

                {{ form_rest(form) }}

                {% if entity.id %}
                    <tr>
                        <th>
                            {% trans %}Last update{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ entity.updatedAt|date }}
                        </td>
                    </tr>
                {% endif %}

            </table>
        </div>

        {{ block('edit_actions') }}

    </form>

{% endblock %}
