{% extends 'FlexySystemBundle:Backend/Role:layout.html.twig' %}

{% block content_main %}

    <div id="list_actions_bar">
        <a class="add" href="{{ path('flexy_system_backend_role_edit') }}">{% trans %}Add a Role{% endtrans %}</a>
    </div>

    <div class="list_box">
        <table cellspacing="0" class="table-autosort">
            <thead>
                <tr>
                    <th class="name table-sortable:ignorecase">{% trans %}Role Name{% endtrans %}</th>
                    <th class="table-sortable:ignorecase">{% trans %}Nb. of Users{% endtrans %}</th>
                    <th class="table-sortable:date">{% trans %}Last updated{% endtrans %}</th>
                    <th class="edit"></th>
                    <th class="delete"></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in roles %}
                <tr id="item_{{ entity.id }}">
                    <td class="name">
                        <a href="{{ path(entity.route, entity.routeParams) }}">
                            {% include 'FlexySystemBundle:Backend/Core:entity_title.html.twig' with { 'entity': entity } %}
                        </a>
                    </td>
                    <td>{{ entity.users|length }}</td>
                    <td>{{ entity.updatedAt|date('Y-m-d') }}</td>
                    <td class="edit">
                        <a href="{{ path(entity.route('edit'), entity.routeParams) }}" title="Modifier">
                            <img src="{{ asset('bundles/flexysystem/backend/images/buttons/edit.png') }}" width="15" height="15" alt="" />
                        </a>
                    </td>
                    <td class="delete">
                        <a href="{{ path(entity.route('delete'), entity.routeParams) }}" rel="{{ path(entity.route('delete'), entity.routeParams({'message': true})) }}" title="{% trans %}Delete{% endtrans %}">
                            <img src="{{ asset('bundles/flexysystem/backend/images/buttons/delete.png') }}" width="12" height="15" alt="" />
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="total">
            <span class="sub-total"></span>
            {% set count = roles|length %}
            {% transchoice count %}{0} No results|{1} One result|]1,Inf] %count% results{% endtranschoice %}
        </div>
    </div>

{% endblock %}
