{% extends 'UnifikSystemBundle:Backend/Role:layout.html.twig' %}

{% block content_main %}
    <div class="list-box panel panel-dark" style="margin-top: 10px;">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans %}Role list{% endtrans %} <a class="btn btn-primary btn-xs ml20" href="{{ path('unifik_system_backend_role_edit') }}"><i class="fa fa-plus-square mr5"></i> {% trans %}Add a Role{% endtrans %}</a></h3>
        </div>
        <div class="panel-body panel-body-dark">
            <table class="table-autosort table table-striped">
                <thead>
                    <tr>
                        <th class="name table-sortable:ignorecase">{% trans %}Role Name{% endtrans %}</th>
                        <th class="table-sortable:ignorecase">{% trans %}Nb. of Users{% endtrans %}</th>
                        <th class="table-sortable:date">{% trans %}Last updated{% endtrans %}</th>
                        <th class="edit"></th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in roles %}
                    <tr id="item_{{ entity.id }}">
                        <td class="name">
                            <a href="{{ path(entity.route, entity.routeParams) }}">
                                {% include 'UnifikSystemBundle:Backend/Core:entity_title.html.twig' with { 'entity': entity } %}
                            </a>
                        </td>
                        <td>{{ entity.users|length }}</td>
                        <td>{{ entity.updatedAt|date('Y-m-d') }}</td>
                        <td class="table-action">
                            <a class="edit" href="{{ path(entity.route('edit'), entity.routeParams) }}" title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="delete" href="{{ path(entity.route('delete'), entity.routeParams) }}" rel="{{ path(entity.route('delete'), entity.routeParams({'message': true})) }}" title="{% trans %}Delete{% endtrans %}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="total dataTables_info">
                <span class="sub-total"></span>
                {% set count = roles|length %}
                {% transchoice count %}{0} No results|{1} One result|]1,Inf] %count% results{% endtranschoice %}
            </div>
        </div>
    </div>
{% endblock %}
