<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
            <title>{% block title %}{{ render(controller('UnifikSystemBundle:Backend/Navigation:PageTitle')) }}{% endblock %}</title>
            {% block stylesheets %}{% include 'UnifikSystemBundle:Backend/Core:stylesheets.html.twig' %}{% endblock %}
            <link rel="icon" type="image/png" href="{{ asset('bundles/unifiksystem/backend/images/icons/favicon.png') }}" />
            {% block jquery %}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            {% endblock %}
        {% endblock head %}
    </head>
    <body {% block body_attr '' %}>

        {% block body %}

            <section>

                <div class="leftpanel">

                    {% block logo %}
                        {% include 'UnifikSystemBundle:Backend/Core:logo.html.twig' %}
                    {% endblock logo %}

                    <div class="leftpanelinner">

                        <!-- This is only visible to small devices -->
                        <div class="visible-xs hidden-sm hidden-md hidden-lg">
                            <div class="media userlogged">
                                <img src="{{ asset('bundles/unifiksystem/backend/images/graphics/loggeduser.png') }}" class="media-object" alt="" />
                                <div class="media-body">
                                    <h4>John Doe</h4>
                                </div>
                            </div>

                            <h5 class="sidebartitle actitle">{% trans %}Account{% endtrans %}</h5>
                            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                              <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
                              <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                            </ul>
                        </div>

                        <h5 class="sidebartitle">{% trans %}Navigation{% endtrans %}</h5>
                        <ul class="nav nav-pills nav-stacked nav-bracket">
                            <li><a href="index.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                            <li><a href="email.html"><span class="pull-right badge badge-success">2</span><i class="fa fa-envelope-o"></i> <span>Email</span></a></li>
                            <li class="nav-parent"><a href=""><i class="fa fa-edit"></i> <span>Forms</span></a>
                                <ul class="children">
                                    <li><a href="general-forms.html"><i class="fa fa-caret-right"></i> General Forms</a></li>
                                    <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> Form Layouts</a></li>
                                    <li><a href="form-validation.html"><i class="fa fa-caret-right"></i> Form Validation</a></li>
                                    <li><a href="form-wizards.html"><i class="fa fa-caret-right"></i> Form Wizards</a></li>
                                    <li><a href="wysiwyg.html"><i class="fa fa-caret-right"></i> WYSIWYG Text Editor</a></li>
                                </ul>
                            </li>
                            <li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>UI Elements</span></a>
                                <ul class="children">
                                    <li><a href="buttons.html"><i class="fa fa-caret-right"></i> Buttons</a></li>
                                    <li><a href="icons.html"><i class="fa fa-caret-right"></i> Icons</a></li>
                                    <li><a href="typography.html"><i class="fa fa-caret-right"></i> Typography</a></li>
                                    <li><a href="alerts.html"><i class="fa fa-caret-right"></i> Alerts &amp; Notifications</a></li>
                                    <li><a href="tabs-accordions.html"><i class="fa fa-caret-right"></i> Tabs &amp; Accordions</a></li>
                                    <li><a href="sliders.html"><i class="fa fa-caret-right"></i> Sliders</a></li>
                                    <li><a href="graphs.html"><i class="fa fa-caret-right"></i> Graphs &amp; Charts</a></li>
                                    <li><a href="widgets.html"><i class="fa fa-caret-right"></i> Panels &amp; Widgets</a></li>
                                    <li><a href="extras.html"><i class="fa fa-caret-right"></i> Extras</a></li>
                                </ul>
                            </li>
                            <li><a href="tables.html"><i class="fa fa-th-list"></i> <span>Tables</span></a></li>
                            <li><a href="maps.html"><i class="fa fa-map-marker"></i> <span>Maps</span></a></li>
                            <li class="nav-parent"><a href=""><i class="fa fa-file-text"></i> <span>Pages</span></a>
                                <ul class="children">
                                    <li><a href="calendar.html"><i class="fa fa-caret-right"></i> Calendar</a></li>
                                    <li><a href="media-manager.html"><i class="fa fa-caret-right"></i> Media Manager</a></li>
                                    <li><a href="timeline.html"><i class="fa fa-caret-right"></i> Timeline</a></li>
                                    <li><a href="blog-list.html"><i class="fa fa-caret-right"></i> Blog List</a></li>
                                    <li><a href="blog-single.html"><i class="fa fa-caret-right"></i> Blog Single</a></li>
                                    <li><a href="people-directory.html"><i class="fa fa-caret-right"></i> People Directory</a></li>
                                    <li><a href="profile.html"><i class="fa fa-caret-right"></i> Profile</a></li>
                                    <li><a href="invoice.html"><i class="fa fa-caret-right"></i> Invoice</a></li>
                                    <li><a href="search-results.html"><i class="fa fa-caret-right"></i> Search Results</a></li>
                                    <li><a href="blank.html"><i class="fa fa-caret-right"></i> Blank Page</a></li>
                                    <li><a href="notfound.html"><i class="fa fa-caret-right"></i> 404 Page</a></li>
                                    <li><a href="locked.html"><i class="fa fa-caret-right"></i> Locked Screen</a></li>
                                    <li><a href="signin.html"><i class="fa fa-caret-right"></i> Sign In</a></li>
                                    <li><a href="signup.html"><i class="fa fa-caret-right"></i> Sign Up</a></li>
                                 </ul>
                            </li>
                            <li class="nav-parent"><a href="layouts.html"><i class="fa fa-laptop"></i> <span>Skins &amp; Layouts</span></a>
                                <ul class="children">
                                    <li><a href="layouts.html"><i class="fa fa-caret-right"></i> General Layouts</a></li>
                                    <li><a href="horizontal-menu.html"><span class="pull-right badge badge-info">new</span><i class="fa fa-caret-right"></i> Top Menu</a></li>
                                    <li><a href="horizontal-menu2.html"><span class="pull-right badge badge-info">new</span><i class="fa fa-caret-right"></i> Top Menu w/ Sidebar</a></li>
                                    <li><a href="fixed-width.html"><span class="pull-right badge badge-info">new</span><i class="fa fa-caret-right"></i> Fixed Width Page</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div><!-- leftpanelinner -->
                </div><!-- leftpanel -->

                <div class="mainpanel">

                    <div class="headerbar">

                        <a class="menutoggle"><i class="fa fa-bars"></i></a>

                        {% block header %}
                            {% include 'UnifikSystemBundle:Backend/Core:header.html.twig' %}
                        {% endblock header %}

                    </div><!-- headerbar -->

                    <div class="pageheader">
                        <h2><i class="fa fa-home"></i> Blank <span>Subtitle goes here...</span></h2>
                        <div class="breadcrumb-wrapper">
                            <span class="label">You are here:</span>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Bracket</a></li>
                                <li class="active">Blank</li>
                            </ol>
                        </div>
                    </div>

                    <div class="contentpanel">
                        {% block content '' %}
                    </div>

                </div><!-- mainpanel -->

            </section>

<!--
            <div id="loading"><img src="{{ asset('bundles/unifiksystem/backend/images/icons/ajax-loader.gif') }}" width="32" height="32" alt="" /></div>

            {% include 'UnifikSystemBundle:Backend/Core:delete.html.twig' %}

            {% block wrapper %}
                <div id="cols_wrapper">

                    <div id="navigation_col">
                        {% block section_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:SectionBar')) }}
                        {% endblock %}

                        {% block app_module_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:AppModuleBar')) }}
                        {% endblock %}

                        {% block global_module_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:GlobalModuleBar')) }}
                        {% endblock %}
                    </div>

                    <div id="main_col">
                        {% block breadcrumbs %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:Breadcrumbs')) }}
                        {% endblock %}

                        {% block section_module_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:SectionModuleBar')) }}
                        {% endblock %}

                    </div>

                    <div style="clear:both;"></div>
                    <div id="unifik">
                        {% trans %}Developed by{% endtrans %}
                        <a target="_blank" href="http://www.egzakt.com">
                            <img width="56" height="20" title="Egzakt" alt="Egzakt" src="{{ asset('bundles/unifiksystem/backend/images/graphics/egzakt_logo.png') }}">
                        </a>
                    </div>

                </div>
                -->
            {% endblock %}

        {% endblock %}


        {% block javascripts %}
            {% include 'UnifikSystemBundle:Backend/Core:javascripts.html.twig' %}
        {% endblock %}

    </body>
</html>