<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
            <title>{% block title %}{{ render(controller('UnifikSystemBundle:Backend/Navigation:PageTitle')) }}{% endblock %}</title>
            {% block stylesheets %}{% include 'UnifikSystemBundle:Backend/Core:stylesheets.html.twig' %}{% endblock %}
            <link rel="icon" type="image/png" href="{{ asset('bundles/unifiksystem/backend/images/icons/favicon.png') }}" />
            {% block jquery %}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            {% endblock %}
        {% endblock head %}
    </head>
    <body {% block body_attr '' %}>

        {% block body %}

            <section>

                <div class="leftpanel">

                    {% block logo %}
                        {% include 'UnifikSystemBundle:Backend/Core:logo.html.twig' %}
                    {% endblock logo %}

                    <div class="leftpanelinner">

                        <!-- This is only visible to small devices -->
                        <div class="visible-xs hidden-sm hidden-md hidden-lg">
                            <div class="media userlogged">
                                <img src="{{ asset('bundles/unifiksystem/backend/images/graphics/loggeduser.png') }}" class="media-object" alt="" />
                                <div class="media-body">
                                    <h4>John Doe</h4>
                                </div>
                            </div>

                            <h5 class="sidebartitle actitle">{% trans %}Account{% endtrans %}</h5>
                            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                              <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
                              <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                            </ul>
                        </div>

                        {% block section_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:SectionBar')) }}
                        {% endblock %}

                    </div><!-- leftpanelinner -->
                </div><!-- leftpanel -->

                <div class="mainpanel">

                    <div class="headerbar">

                        <a class="menutoggle"><i class="fa fa-bars"></i></a>

                        {% block header %}
                            {% include 'UnifikSystemBundle:Backend/Core:header.html.twig' %}
                        {% endblock header %}

                    </div><!-- headerbar -->

                    <div class="pageheader">
                        <h2><i class="fa fa-home"></i> Blank <span>Subtitle goes here...</span></h2>
                        <div class="breadcrumb-wrapper">
                            <span class="label">You are here:</span>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Bracket</a></li>
                                <li class="active">Blank</li>
                            </ol>
                        </div>
                    </div>

                    <div class="contentpanel">
                        {% block content '' %}
                    </div>

                </div><!-- mainpanel -->

            </section>

<!--
            <div id="loading"><img src="{{ asset('bundles/unifiksystem/backend/images/icons/ajax-loader.gif') }}" width="32" height="32" alt="" /></div>

            {% include 'UnifikSystemBundle:Backend/Core:delete.html.twig' %}

            {% block wrapper %}
                <div id="cols_wrapper">

                    <div id="navigation_col">

                        {% block app_module_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:AppModuleBar')) }}
                        {% endblock %}

                        {% block global_module_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:GlobalModuleBar')) }}
                        {% endblock %}
                    </div>

                    <div id="main_col">
                        {% block breadcrumbs %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:Breadcrumbs')) }}
                        {% endblock %}

                        {% block section_module_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:SectionModuleBar')) }}
                        {% endblock %}

                    </div>

                    <div style="clear:both;"></div>
                    <div id="unifik">
                        {% trans %}Developed by{% endtrans %}
                        <a target="_blank" href="http://www.egzakt.com">
                            <img width="56" height="20" title="Egzakt" alt="Egzakt" src="{{ asset('bundles/unifiksystem/backend/images/graphics/egzakt_logo.png') }}">
                        </a>
                    </div>

                </div>
                -->
            {% endblock %}

        {% endblock %}


        {% block javascripts %}
            {% include 'UnifikSystemBundle:Backend/Core:javascripts.html.twig' %}
        {% endblock %}

    </body>
</html>