<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
            <title>{% block title %}{{ render(controller('UnifikSystemBundle:Backend/Navigation:pageTitle')) }}{% endblock %}</title>
            {% block stylesheets %}{% include 'UnifikSystemBundle:Backend/Core:stylesheets.html.twig' %}{% endblock %}
            <link rel="icon" type="image/png" href="{{ asset('bundles/unifiksystem/backend/images/icons/favicon.png') }}" />
            {% block jquery %}
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script src="{{ asset('bundles/unifiksystem/backend/js/bootstrap.min.js') }}"></script> {# Bootstrap must be placed before jQ UI #}
                <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            {% endblock %}
        {% endblock head %}
    </head>
    <body {% block body_attr '' %}>

        {% block body %}

            <div id="loading"><img src="{{ asset('bundles/unifiksystem/backend/images/icons/ajax-loader.gif') }}" width="32" height="32" alt="" /></div>

            {% include 'UnifikSystemBundle:Backend/Core:delete.html.twig' %}

            {% block wrapper %}
                <section>

                    <div class="leftpanel">

                        {% block logo %}
                            {% include 'UnifikSystemBundle:Backend/Core:logo.html.twig' %}
                        {% endblock logo %}

                        <div class="leftpanelinner">

                            {# This is only visible to small devices #}
                            {% block header_mobile %}
                                {% include 'UnifikSystemBundle:Backend/Core:header_mobile.html.twig' %}
                            {% endblock %}

                            {% block section_bar %}
                                {{ render(controller('UnifikSystemBundle:Backend/Navigation:sectionBar')) }}
                            {% endblock %}

                        </div><!-- leftpanelinner -->
                    </div><!-- leftpanel -->

                    <div class="mainpanel">

                        <div class="headerbar">

                            <a class="menutoggle"><i class="fa fa-bars"></i></a>

                            {% block header %}
                                {% include 'UnifikSystemBundle:Backend/Core:header.html.twig' %}
                            {% endblock %}

                        </div><!-- headerbar -->

                        <div class="pageheader">
                            {% block section_title %}
                                <h2><i class="fa fa-file-text-o"></i> {{ section }}</h2>
                            {% endblock %}

                            {% block breadcrumbs %}
                                {{ render(controller('UnifikSystemBundle:Backend/Navigation:breadcrumbs')) }}
                            {% endblock %}
                        </div>

                        <div class="contentpanel">

                            {% block section_module_bar %}
                                {{ render(controller('UnifikSystemBundle:Backend/Navigation:sectionModuleBar')) }}
                            {% endblock %}

                            {% block content_wrapper %}
                                <div class="tab-content">
                                    {% block content '' %}
                                </div>
                            {% endblock %}
                        </div>

                    </div><!-- mainpanel -->

                </section>

            {% endblock %}

            <!--

                <div id="cols_wrapper">

                    <div id="navigation_col">
                        {% block app_module_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:appModuleBar')) }}
                        {% endblock %}

                        {% block global_module_bar %}
                            {{ render(controller('UnifikSystemBundle:Backend/Navigation:globalModuleBar')) }}
                        {% endblock %}
                    </div>

                    <div style="clear:both;"></div>
                    <div id="unifik">
                        {% trans %}Developed by{% endtrans %}
                        <a target="_blank" href="http://www.egzakt.com">
                            <img width="56" height="20" title="Egzakt" alt="Egzakt" src="{{ asset('bundles/unifiksystem/backend/images/graphics/egzakt_logo.png') }}">
                        </a>
                    </div>

                </div>
                -->


        {% endblock %}


        {% block javascripts %}
            {% include 'UnifikSystemBundle:Backend/Core:javascripts.html.twig' %}
        {% endblock %}

    </body>
</html>