{% set subrequestParameters = {
    'masterRoute': app.request.attributes.get('_route')
} %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ render(controller('EgzaktSystemBundle:Backend/Navigation:PageTitle')) }}{% endblock %}</title>
        {% block stylesheets %}{% include 'EgzaktSystemBundle:Backend/Core:stylesheets.html.twig' %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/egzaktsystem/backend/images/icons/favicon.png') }}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    </head>
    <body {% block body_attr '' %}>
        {% block body %}

            <div id="loading"><img src="{{ asset('bundles/egzaktsystem/backend/images/icons/ajax-loader.gif') }}" width="32" height="32" alt="" /></div>

            {% include 'EgzaktSystemBundle:Backend/Core:delete.html.twig' %}

            {% block header %}
                {% include 'EgzaktSystemBundle:Backend/Core:header.html.twig' %}
            {% endblock %}

            {% block top_bar %}
                <div id="login_bar">
                    {% if app.user %}
                        {% block login_nav %}
                            {{ render(controller('EgzaktSystemBundle:Backend/Navigation:Header')) }}
                        {% endblock %}
                    {% endif %}
                    <h6>{% trans %}Content Management System (CMS){% endtrans %}</h6>
                </div>
            {% endblock %}

            {% block wrapper %}
                <div id="cols_wrapper">

                    <div id="navigation_col">
                        {{ render(controller('EgzaktSystemBundle:Backend/Navigation:SectionBar', subrequestParameters)) }}
                        {{ render(controller('EgzaktSystemBundle:Backend/Navigation:GlobalBundleBar', subrequestParameters)) }}
                    </div>

                    <div id="main_col">
                        {% block breadcrumbs %}
                            {{ render(controller('EgzaktSystemBundle:Backend/Navigation:Breadcrumbs', subrequestParameters)) }}
                        {% endblock %}

                        {% block bundle_bar %}
                            {{ render(controller('EgzaktSystemBundle:Backend/Navigation:SectionModuleBar', subrequestParameters)) }}
                        {% endblock %}

                        {% block locale_bar %}
                            {{ render(controller('EgzaktSystemBundle:Backend/Navigation:LocaleBar', subrequestParameters)) }}
                        {% endblock %}

                        {% block content '' %}
                    </div>

                    <div style="clear:both;"></div>
                    <div id="egzakt">
                        {% trans %}Developed by{% endtrans %}
                        <a target="_blank" href="http://www.egzakt.com">
                            <img width="56" height="20" title="Egzakt" alt="Egzakt" src="{{ asset('bundles/egzaktsystem/backend/images/graphics/egzakt_logo.png') }}">
                        </a>
                    </div>

                </div>
            {% endblock %}

        {% endblock %}

        {% block javascripts %}
            {% include 'EgzaktSystemBundle:Backend/Core:javascripts.html.twig' %}
        {% endblock %}

    </body>
</html>