<li>
    <a class="text{{ "{% if selected %}" }} selected{{ "{% endif %}" }}" href="{{ '{{ path(' }}'{{ route_prefix }}'{{ ') }}' }}">
        {{ "{% trans %}" }}{{ entity }}s{{ "{% endtrans %}" }}
    </a>
</li>