<li{{ "{% if selected %}" }} class="active"{{ "{% endif %}" }}>
    <a class="text" href="{{ '{{ path(' }}'{{ route_prefix }}'{{ ') }}' }}">
        <strong><i class="fa fa-cog mr5"></i> {{ "{% trans %}" }}{{ entity }}s{{ "{% endtrans %}" }}</strong>
    </a>
</li>