{% extends 'form_table_layout.html.twig' %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    <form novalidate="novalidate" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_widget_compound %}
{% spaceless %}
    {% if name != 'translation' %}
        <div id="fields_box">
            <table class="fields" {{ block('widget_container_attributes') }}>
    {% endif %}
    {% if form.parent is empty and errors|length > 0 %}
        <tr>
            <td colspan="2">
                {{ form_errors(form) }}
            </td>
        </tr>
    {% endif %}
    {{ block('form_rows') }}
    {{ form_rest(form) }}
    {% if name != 'translation' %}
            </table>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
    {% if name != 'translation' %}
        <tr{% if '[translation]' in full_name %} class="translation"{% endif %}>
        <th{% if errors|length > 0 %} class="error"{% endif %}>
            {{ form_label(form, label|default(null)) }}
        </th>
        <td>
            {{ form_widget(form) }}
            {% if errors|length > 0 %}
                <div class="error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
        </td>
    </tr>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="error">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block date_widget %}
    {% if widget == 'single_text' %}
        <input type="text" {{ block('widget_attributes') }} value="{{ value }}" class="calendar" />
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
            '{{ year }}' : form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}'  : form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endblock date_widget %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <li>
                        {{ form_widget(child) }}&nbsp;{{ form_label(child, null, {'withoutColon': true}) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block tree_choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('tree_choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{% if levels is defined and levels['level_id_' ~ choice.value] is defined %}{{ tree_indentation(levels['level_id_' ~ choice.value])|raw }}{% endif %}{{ choice.data|transTitle }}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock tree_choice_widget_options %}

{% block tree_choice_widget %}
{% spaceless %}
    {% if expanded %}
        <ul {{ block('widget_container_attributes') }}>
            {% if add_select_all is defined %}
                {% block select_all %}
                <li>
                    <div class="select_all_wrapper">
                        <input type="checkbox" name="select_all_{{ id }}" id="select_all_{{ id }}" value="" class="select_all" /> &nbsp;<label for="select_all_{{ id }}">{% trans %}Select All{% endtrans %}</label>
                    </div>
                </li>
                {% endblock %}
                {% block javascripts %}
                    {{ parent() }}

                    <script type="text/javascript">
                        var str_select_all = '{% trans %}Select All{% endtrans %}';
                        var str_unselect_all = '{% trans %}Unselect All{% endtrans %}';
                    </script>

                    {% javascripts
                        '@FlexySystemBundle/Resources/public/backend/js/tree-choice.js'
                    %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endblock  %}
            {% endif %}
        {% for child in form %}
            <li>
                {{ form_widget(child) }}&nbsp;{{ form_label(child, null, {'withoutColon': true}) }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('tree_choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('tree_choice_widget_options') }}
    </select>
    {% endif %}
{% endspaceless %}
{% endblock tree_choice_widget %}

{% block checkbox_widget %}
{% spaceless %}
    {% if level is defined %}{{ tree_indentation(level)|raw }}{% endif %}<input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}{% if level is defined %} data-level="{{ level }}"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
    {% if level is defined %}{{ tree_indentation(level)|raw }}{% endif %}<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}" />
{% endspaceless %}
{% endblock radio_widget %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required and checked is not defined %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                <span class="required" title="{% trans %}This field is required{% endtrans %}">* </span>
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans|raw }}</label>{% if withoutColon is not defined %}{% trans %}:{% endtrans %}{% endif %}
            {% if attr.alt is defined %}
                <div class="note">{{ attr.alt|trans|raw }}</div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block advanced_file_widget %}
    {% spaceless %}
        {% if file_path is not null %}
            <div class="uploaded_file">
                {# TODO: supply an absolute path for the href #}
                <a href="{{ file_path }}" target="_blank">{{ file_path }}</a>
            </div>

            {% if not required %}
                <div class="delete_uploaded_file">
                    <label for="{{ id ~ "Delete" }}">{% trans %}Delete:{% endtrans %}</label>
                    <input type="checkbox" id="{{ id ~ "Delete" }}" name="{{ name ~ "Delete" }}" value="1" />
                </div>
            {% endif %}

            {% trans %}Replace:{% endtrans %}
        {% endif %}

        <input type="file" {{ block('widget_attributes') }} />
    {% endspaceless %}
{% endblock %}

{% block creatable_entity_widget %}
    {% spaceless %}
        {{ block('choice_widget') }}
        <a href="{{ path(quick_create_route) }}" class="quick_create_link{% if not form.vars.expanded %} aside{% endif %}">{{ "Create a new " ~ entity_name|trans }}</a>
        <div class="quick_create_container" data-input-id="{{ form.vars.id }}" data-input-name="{{ form.vars.full_name }}" data-input-type="{% if not form.vars.expanded %}select{% elseif form.vars.multiple %}checkbox{% else %}radio{% endif %}"></div>
    {% endspaceless %}
{% endblock %}

{% block widget_container_attributes %}
{% spaceless %}
    {% if id is not empty %}id="{{ id }}" {% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}
