{% extends 'FlexySystemBundle:Backend/Locale:layout.html.twig' %}
{% form_theme form 'FlexySystemBundle:Backend/Core:edit_fields.html.twig' %}

{% block content_header %}
    <h1>{% include 'FlexySystemBundle:Backend/Core:entity_title.html.twig' with { 'entity': locale } %}</h1>
{% endblock %}

{% block content_main %}

    <form novalidate="novalidate" method="post" {{ form_enctype(form) }}>

        {% block edit_actions %}
            {% include 'FlexySystemBundle:Backend/Core:edit_actions.html.twig' with {
                'entity': locale,
                'delete_route': path('flexy_system_backend_locale_delete', { 'id': locale.id ?: 0 }),
                'cancel_route': path('flexy_system_backend_locale')
            } %}
        {% endblock %}

        <div id="fields_box">
            <table class="fields" cellspacing="0">

                {{ form_errors(form) }}

                {{ form_row(form.active) }}
                {{ form_row(form.name) }}

                <tr>
                    <th>
                        {{ form_errors(form.code) }}
                        {{ form_label(form.code) }}
                    </th>
                    <td>
                        {{ form_widget(form.code) }}
                        <div class="url_pattern note">
                            {% trans %}Home page URL{% endtrans %}{% trans %}:{% endtrans %}
                            {# using the dashboard route as the base route because it cannot be disabled and/or removed like frontend routes #}
                            <span>{{ url('flexy_system_backend_dashboard')|replace({ 'admin/': '' }) }}</span>
                        </div>
                    </td>
                </tr>

                {{ form_row(form._token) }}

            </table>
        </div>

        {{ block('edit_actions') }}

    </form>

    <script>
        $(function(){
            var $localeCode = $('#locale_code');

            $localeCode.change(function(){
                var localeCode = $(this).val();

                // The default locale do not use code a prefix in the routing (JMS prefix_except_default strategy)
                if (localeCode == '{{ default_locale }}') {
                    localeCode = '';
                }

                var $urlPattern = $('.url_pattern span');
                $urlPattern.html($urlPattern.html().replace(/[^/]*$/, localeCode));
            });

            $localeCode.change();
        });
    </script>

{% endblock content_main %}
