{% extends 'UnifikSystemBundle:Backend/Locale:layout.html.twig' %}
{% form_theme form 'UnifikSystemBundle:Backend/Core:bootstrap_edit_fields.html.twig' %}

{% block content_main %}
    <div class="row">
        <form novalidate="novalidate" method="post" {{ form_enctype(form) }}>
            <div class="col-md-8">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% include 'UnifikSystemBundle:Backend/Core:entity_title.html.twig' with { 'entity': locale } %}</h3>
                    </div>
                    <div class="panel-body">
                    {{ form_errors(form) }}

                    {{ form_row(form.active) }}
                    {{ form_row(form.name) }}

                    <div class="form-group">
                        {{ form_errors(form.code) }}
                        {{ form_label(form.code) }}
                        <div class="col-sm-10">
                            {{ form_widget(form.code) }}
                            <div class="url_pattern note">
                                {% trans %}Home page URL{% endtrans %}{% trans %}:{% endtrans %}
                                {# using the dashboard route as the base route because it cannot be disabled and/or removed like frontend routes #}
                                <span>{{ url('unifik_system_backend_dashboard')|replace({ 'admin/': '' }) }}</span>
                            </div>
                       </div>
                    </div>

                    {{ form_row(form._token) }}
                </div><!-- panel-body -->

                {% block edit_actions %}
                    {% include 'UnifikSystemBundle:Backend/Core:edit_actions.html.twig' with {
                        'entity': locale,
                        'delete_route': path('unifik_system_backend_locale_delete', { 'id': locale.id ?: 0 }),
                        'cancel_route': path('unifik_system_backend_locale')
                    } %}
                {% endblock %}
                </div>
            </div>
        </form>
    </div>

    <script>
        $(function(){
            var $localeCode = $('#locale_code');

            $localeCode.change(function(){
                var localeCode = $(this).val();

                // The default locale do not use code a prefix in the routing (JMS prefix_except_default strategy)
                if (localeCode == '{{ default_locale }}') {
                    localeCode = '';
                }

                var $urlPattern = $('.url_pattern span');
                $urlPattern.html($urlPattern.html().replace(/[^/]*$/, localeCode));
            });

            $localeCode.change();
        });
    </script>

{% endblock content_main %}
