{% extends 'FlexySystemBundle:Backend/Text:layout.html.twig' %}
{% form_theme form 'FlexySystemBundle:Backend/Core:edit_fields.html.twig' %}

{% block content_header %}
    <h1>{% include 'FlexySystemBundle:Backend/Core:entity_title.html.twig' with { entity: text } %}</h1>
{% endblock %}

{% block content_main %}

    <form novalidate="novalidate" method="post" {{ form_enctype(form) }}>

        {% block edit_actions %}
            {% include 'FlexySystemBundle:Backend/Core:edit_actions.html.twig' with {
                entity: text,
                delete_route: path('flexy_system_backend_text_delete', { id: text.id ?: 0 }),
                cancel_route: path('flexy_system_backend_text')
            } %}
        {% endblock %}

        <div id="fields_box">
            <table class="fields" cellspacing="0">

                {{ form_errors(form) }}

                {{ form_row(form.translation.active) }}

                {% if not text.static %}
                    {{ form_row(form.collapsable) }}
                    {{ form_row(form.translation.name) }}
                {% endif %}

                {{ form_row(form.translation.text) }}

                {{ form_rest(form) }}

                {% if text.id %}
                    <tr>
                        <th>
                            {% trans %}Last update{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ text.updatedAt|date }}
                        </td>
                    </tr>
                {% endif %}

            </table>
        </div>

        {{ block('edit_actions') }}

    </form>

    <script type="text/javascript">
        $('#text_collapsable').click(function(){
            var $row = $('#text_translation_name').parents('tr');
            if ($('#text_collapsable').is(':checked')) {
                $row.show();
            } else {
                $row.hide();
            }
        }).triggerHandler('click');
    </script>

{% endblock %}
