{% extends 'EgzaktSystemBundle:Backend/Text:layout.html.twig' %}
{% form_theme edit_form 'EgzaktSystemBundle:Backend/Core:edit_fields.html.twig' %}

{% block content_header %}
    <h1>{{ entity|i18nFallback|raw }}</h1>
{% endblock %}

{% block content_main %}

    <form novalidate="novalidate" method="post" {{ form_enctype(edit_form) }}>

        {% block edit_actions %}
            {% include 'EgzaktSystemBundle:Backend/Core:edit_actions.html.twig' with {
                'entity': entity,
                'delete_route': path('egzakt_system_backend_text_delete', { section_id: section.id, id: entity.id ?: 0 }),
                'cancel_route': path('egzakt_system_backend_text', { section_id: section.id })
            } %}
        {% endblock %}

        <div id="fields_box">
            <table class="fields" cellspacing="0">

                {{ form_errors(edit_form) }}

                {{ form_row(edit_form.translation.active) }}

                {% if not entity.static %}
                    {{ form_row(edit_form.collapsable) }}
                    {{ form_row(edit_form.translation.name) }}
                {% endif %}

                {{ form_row(edit_form.translation.text) }}

                {{ form_rest(edit_form) }}

                {% if entity.id %}
                    <tr>
                        <th>
                            {% trans %}Last update{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ entity.updatedAt|date }}
                        </td>
                    </tr>
                {% endif %}

            </table>
        </div>

        {{ block('edit_actions') }}

    </form>

    <script type="text/javascript">
        $('#text_collapsable').click(function(){
            var $row = $('#text_translation_name').parents('tr');
            if ($('#text_collapsable').is(':checked')) {
                $row.show();
            } else {
                $row.hide();
            }
        }).triggerHandler('click');
    </script>

{% endblock %}
