<table class="table-autosort table table-striped">
    <thead>
        <tr>
            <th class="default_ordering table-sortable:numeric">
                {% trans %}Ordering{% endtrans %}
            </th>
            <th class="name table-sortable:ignorecase">
                {% trans %}Content{% endtrans %}
            </th>
            <th class="centered">
                {% trans %}Collapsable{% endtrans %}
            </th>
            <th class="update table-sortable:date">
                {% trans %}Last update{% endtrans %}
            </th>
           <th class="switch_list_mode">
                <a href="#"><img src="{{ asset("bundles/unifiksystem/backend/images/buttons/switch_list_mode_off.gif") }}" width="20" height="20" alt="" /></a>
            </th>
        </tr>
        <tr class="filters">
            <th class="default_ordering">
                &nbsp;
            </th>
            <th class="name">
                <input onkeyup="Table.filter(this,this)" class="filter" alt="{{ "Search a content"|trans }}" />
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr id="item_{{ entity.id }}">
                <td class="default_ordering">
                    {{ entity.ordering }}
                </td>
                <td class="name{% if not entity.active %} inactive{% endif %}">
                    <a href="{{ path('unifik_system_backend_text_edit', { 'id': entity.id }) }}">
                        {% include 'UnifikSystemBundle:Backend/Core:entity_title.html.twig' with { 'entity': entity } %}
                    </a>
                </td>
                <td class="centered">
                    {% if entity.collapsable %}
                         <i class="fa fa-check-square-o"></i>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {{ entity.updatedAt|date('Y-m-d') }}
                </td>
                <td class="table-action">
                    <a class="edit" href="{{ path('unifik_system_backend_text_edit', { 'id': entity.id }) }}" title="{% trans %}Edit{% endtrans %}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a class="delete" href="{{ path('unifik_system_backend_text_delete', { 'id': entity.id }) }}" rel="{{ path('unifik_system_backend_text_delete', { 'id': entity.id, 'message': true }) }}" title="{% trans %}Delete{% endtrans %}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="total dataTables_info">
    <span class="sub-total"></span>
    {% set count = entities|length %}
    {% transchoice count %}{0} No results|{1} One result|]1,Inf] %count% results{% endtranschoice %}
</div>
